html, body {
      height: 100%;
      width: 100%;
      font-family: 'Roboto', sans-serif;
}

*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}

.registration-container {
      display: flex;
      align-content: center;
      justify-content: center;
      border: none;
      min-height: 90vh;
}

.info-form{
      padding: 16px;
      padding-bottom: 16px;
      border-radius: 8px;
      width: 60%;
      min-height: 60vh;
}

.input-wrapper{
      display: flex;
      margin-top: 20px;
}

.input-wrapper input{
      border: none;
      background-color: #FF4C4C;
      padding: 8px;
      width: 50%;
      border-radius: 8px;
}

.input-wrapper select{
      border: none;
      background-color: #FF4C4C;
      padding: 8px;
      width: 50%;
      color: white;
      border-radius: 8px;
}

.input-wrapper textarea{
      resize: none;
      border: none;
      background-color: #FF4C4C;
      border-radius: 8px;
}

.input-wrapper label{
      width: 90%;
      border-radius: 8px;
}

/* .dropdown-menu{
     padding: 16px;
     padding-bottom: 16px;
     border-radius: 8px;
     font-family: 'Roboto', sans-serif;
     border: none;
} */

.buttons{
      padding: 8px;
      border: none;
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      border-radius: 8px;
      margin-top: 32px;
}

.buttons input{
      color: #FF4C4C;
      border: none;
      background-color: white;
      font-size: 16px;
}
          
.footer{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #FF4C4C;
      color: white;
      width: auto;
      height: 50px;
      grid-column: 1/-1;
      padding-left: 50px;
}